#tc1{
	float:left;
}

#tc2{
	float:right;
}

html{
	font-family: 'Quicksand', sans-serif;
	background-image: url("bg6.jpg");
	background-repeat: no-repeat;
	background-size:100%;
}

body{
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	overflow:auto;

}

footer{
	position:fixed;
	bottom:0px;
	margin-left:5%;
	width:90%;
	height:15%;
	float: left;
}

h3{

}

#Accept{
	float:right;
}

input{
	background-color:#007ac3;
	text-decoration:none;
	border-radius:2px;
	border:0px;
	font-size: 4vw;
	color:white;
	border:1px solid #372a73;
	width:auto;
}



.hide {
  display: none;
}

.read-more-toggle{
    cursor: pointer; cursor: hand;
}

.read-more-content{
	padding-bottom: 10px;
}

.questionTop{
	width: 75%;
	margin: auto;
	margin-top: 40px;
	background-color: white; 
    border-radius: 6px; 
    text-align: left;
    color: #372a73;
}

.questionBottom{
	width: 75%;
	margin: auto;	
	background-color: white; 
    border-radius: 6px;
    text-align: left; 
    color: #372a73;
    margin-bottom: 15px;
 }


.question{
	width: 75%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 6px; 
	text-align: left;
	color: #372a73;
}

p{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

h1{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
}


