#tc1{
	float:left;
}

#tc2{
	float:right;
}

footer{
	position:fixed;
	bottom:0px;
	margin-left:5%;
	width:90%;
	height:15%;
	float: left;
}

h3{

}

#Accept{
	float:right;
}

input{
	background-color:#007ac3;
	text-decoration:none;
	border-radius:2px;
	border:0px;
	font-size: 4vw;
	color:white;
	border:1px solid #372a73;
	width:auto;
}

#banner{
	padding-top: 7px;
}

.hide {
  display: none;
}

.read-more-toggle{
    cursor: pointer; cursor: hand;
}

.questionTop{
	width: 75%;
	text-indent: 15px;
	margin: auto;
	margin-top: 40px;
	background-color: #F2F1ED; 
    border-radius: 6px; 
}

.questionBottom{
	width: 75%;
	text-indent: 15px;	
	margin: auto;	
	background-color: #F2F1ED; 
    border-radius: 6px; 
}


.question{
	width: 75%;
	text-indent: 15px;	
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F2F1ED; 
    border-radius: 6px; 
}

