html
{
	font-family: 'Quicksand', sans-serif;
	background-image: url('images/Bg6.jpg');
	background-repeat: no-repeat;
	background-size:568px,100%;
}
body{
	height:auto;
	padding:0px;
	margin:0px;
}
#banner{
	z-index:100;
	left:0px;
	padding:0px;
	margin:0px;
	background-color:#007ac3;
	width:auto;
	height:25px;
	margin-top:0px;
}
#cat{
	float:left;
	z-index:200;
	width:40%;
	margin-left:5%;
	margin-top: -20px;
	margin-bottom:10px;
}
#nhs{
	z-index:200;
	height:25px;
	float:right;
	margin-top: -25px;
	margin-right:5%;
}
.main
{
	position:absolute;
	z-index:0;
	background-color:white;
	margin:5%;
	margin-bottom:2%;
	margin-top:10%;
	width:90%;
	height:74%;
	background-color:;
	border:solid 1px black;
	overflow:hidden;
	overflow:scroll;
	overflow-x:hidden;
	border-radius:5px;
}
nav
{
	position:absolute;
	height:auto;
	width:100%;
	background-color:white;
	bottom:0px;
}
nav img
{
	padding:0px;
	margin:0px;
	height:18%;
	width:18%;
}
.content
{
	padding:0px;
	margin:0px;
	margin-left:3%;
	margin-top:3%;
	height:17%;
	color:#372a73;
}
#s
{
	float:left;
	height:90%;
	width:30%;
	color:blue;
}
#m
{
	margin-top:2%;
	float:left;
	height:90%;
	width:60%;
}
#l
{
	width:94%;
}
h2
{
	margin-left:34%;
	color:#372a73;
}