html
{
	font-family: sans-serif;
}

body{
	background-image: url('images/Leafs.jpg');
	background-repeat: no-repeat;

	height:auto;
	padding:0px;
	margin:0px;
}
#banner{
	z-index:100;
	left:0px;
	padding:0px;
	margin:0px;
	background-color:#007ac3;
	width:auto;
	height:25px;
	margin-top:0px;
}
#cat{
	float:left;
	z-index:200;
	width:40%;
	margin-left:5%;
	margin-top: -20px;
	margin-bottom:10px;
}
#nhs{
	z-index:200;
	height:25px;
	float:right;
	margin-top: -25px;
	margin-right:5%;
}
.main
{
	position:absolute;
	z-index:0;
	background-color:white;
	margin:5%;
	margin-bottom:2%;
	margin-top:10%;
	width:90%;
	height:74%;
	background-color:;
	border:solid 1px black;
	overflow:hidden;
	overflow:scroll;
	overflow-x:hidden;
	border-radius:5px;
}
nav
{
	position:absolute;
	height:auto;
	width:100%;
	background-color:white;
	bottom:0px;
}
nav img
{
	padding:0px;
	margin:0px;
	height:18%;
	width:18%;
}
h2
{
	margin-left:34%;
	color:#372a73;
}
textarea
{
	margin-left:5%;
    resize: none;
	width:88%;
	height:65%;
}
footer
{
	width:90%;
	margin-left:5%;
	padding-top:10px;
	padding-bottom:10px;
}
footer #back
{
	float:left;
	margin-right:5%;
	margin-bottom:5px;
}
footer #done
{
margin:0px;
}
footer #edit
{
	margin-left:5%;
	float:right;
	margin-top:-20px;
}
#back
{
	background-color:white;
	height:33px;
	width:34px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	color: transparent;
	background-image: url('images/back.png');
}
#edit
{
	background-color:white;
	height:33px;
	width:34px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	color: transparent;
	background-image: url('images/edit.png');
}