.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
	background-color:rgba(255,255,255,0.0);
}
html
{
	font-family: 'Quicksand', sans-serif;
	background-image: url('images/Bg.jpg');
	background-repeat: no-repeat;
	background-size:700px,100%;
	background-color:#007ac3 ;
}
body{
	height:auto;
	padding:0px;
	margin:0px;
}
#banner{
	position: absolute;
	z-index:100;
	left:0px;
	padding-top:15px;
	margin:0px;
	background-color:#2980b9;
	width:100%;
	height:40px;
	margin-top:0px;
}
#cat{
	position:absolute;
	z-index:200;
	width:40%;
	margin-left:5%;
	margin-top:5px;
}
#nhs{
	z-index:200;
	height:25px;
	float:right;
	margin-top: 15px;
	margin-right:5%;
}
.main
{
	position:absolute;
	z-index:0;
	background-color:rgba(255,255,255,0.8);
	margin:0%;
	margin-bottom:2%;
	margin-top:10%;
	width:100%;
	height:85%;
	overflow:scroll;
	overflow-x:hidden;
}
nav
{
	position:fixed;
	height:auto;
	width:100%;
	height:10%;
	background-color:#372a73;
	bottom:0px;
}
nav #home
{
	display:inline-block;
	padding:0px;
	margin:0px;
	height:92%;
	width:15%;
	margin-left:2%;
	background:#372a73;
	border-bottom:solid #007ac3 4px;
	border-left:solid #35296f 2px;
	border-right:solid #35296f 2px;
}
nav #home img
{
	height:100%;
	width:100%;
}
nav #home:active, nav #home:hover, nav #home:visited
{
	background:#241b4d;
	border-bottom:solid #0065c3 4px;

}
h2
{
	text-align: center;
	margin:0px;
	margin-top:10%;
	color:#372a73;
}
.content
{
	padding:0px;
	margin:0px;
	margin-left:5%;
	margin-top:5%;
	height:17%;
	color:#372a73;
}
#s
{
	float:left;
	height:90%;
	width:15%;
	color:blue;
}
#m
{
	margin-left:10%;
	margin-top:2%;
	float:left;
	height:90%;
	width:68%;
}
#l
{
	width:94%;
}
#feedback
{
	margin-left:5%;
	width:94%;
}
textarea
{
	margin-left:3%;
    resize: none;
	width:90%;
	height:30%;
}
textarea #AdminL
{
	height:50%;
}
#letter
{
	width:90%;
	margin:5%;
	margin-top:0px;
	padding:0px;
	display:none;
}