html
{
	font-family: sans-serif;
}

body{
	background-image: url('images/Leafs.jpg');
	background-repeat: no-repeat;

	height:auto;
	padding:0px;
	margin:0px;
}
#banner{
	z-index:100;
	left:0px;
	padding:0px;
	margin:0px;
	background-color:#007ac3;
	width:auto;
	height:25px;
	margin-top:0px;
}
#cat{
	float:left;
	z-index:200;
	width:40%;
	margin-left:5%;
	margin-top: -20px;
	margin-bottom:10px;
}
#nhs{
	z-index:200;
	height:25px;
	float:right;
	margin-top: -25px;
	margin-right:5%;
}
.main
{
	position:absolute;
	z-index:0;
	background-color:white;
	margin:5%;
	margin-bottom:2%;
	margin-top:10%;
	width:90%;
	height:74%;
	background-color:;
	border:solid 1px black;
	overflow:hidden;
	overflow:scroll;
	overflow-x:hidden;
	border-radius:5px;
}
nav
{
	position:fixed;
	height:10%;
	width:100%;
	background-color:white;
	bottom:0px;
}
nav a img
{
	padding:0px;
	margin:0px;
	height:100%;
	width:18%;
	border-right:solid 1px blue;
	padding-right: 2px;
}
.content
{
	padding:0px;
	margin:0px;
	margin-left:3%;
	margin-top:3%;
	height:17%;
	color:#372a73;
}
#s
{
	float:left;
	height:auto;
	width:auto;
	color:blue;
	margin-top:7%;
}
#m
{
	margin-top:3%;
	float:left;
	height:70%;
	width:80%;
}
#l
{
	height:10%;
	width:94%;
}
h2
{
	margin-left:25%;
	color:#372a73;
}
footer
{
	border: 0px;
	border-top:solid 1px black;
	border-style:dashed;
	width:90%;
	margin-top:10px;
	margin-left: 5%;
	padding-top:10px;
	padding-bottom:10px;
}
footer input
{
	margin-left:34%;
}
#s img
{
	width:32px;
}
#exit
{
	border-right:0px;
}
#home
{
	margin-left:3px;
}