#banner {
	padding-top: 10px;
}

footer
{
	z-index:200;
	border: 0px;
	width:90%;
	height:10px;
	margin-left: 5%;
	padding:5%;
	padding-left:0%;
}
footer input
{
	margin:5px;
	margin-left:34%;
}
#s img
{
	width:32px;
}
#exit
{
	border-right:0px;
}
#home
{
	margin-left:3px;
}