html{
	font-family: 'Quicksand', sans-serif;
	background-image: url('images/bg6.jpg');
	background-repeat: no-repeat;
	background-size:568px,100%;
}
body{
	height:auto;
	padding:0px;
	margin:0px;
}

#banner{
	z-index:100;
	left:0px;
	padding:0px;
	margin:0px;
	background-color:#007ac3;
	width:auto;
	height:25px;
	margin-top:0px;
}
#logo{
	z-index:200;
	width:6%;
	margin-left:5%;
	margin-top: -20px;
}
.main
{
	margin:5%;
	margin-bottom:2%;
	width:90%;
	height:325px;
	background-color:white;
	border:solid 1px black;
}
nav
{
	position:absolute;
	height:auto;
	width:100%;
	background-color:white;
	bottom:0px;
}
nav img
{
	height:20%;
	width:20%;
}